@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
#algoritmos {
    background: url("./img/fondo.jpg");
    background-size: cover;
    background-repeat: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 100px;
}
#algoritmos h1 {
    color: white;
    font-size: 50px;
}
#algoritmos p {
    font-size: 20px;
    color: bisque;
}
#algoritmos button {
    padding: 12px 40px;
    font-size: 20px;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgba(147, 204, 204, 0.678);
    border: 2px solid rgba(0, 153, 255, 0.466);
    margin: 20px 10px;
}
#algoritmos h2, h3 {
    color: white;
    font-size: 30px;
}